<h2>Invoices</h2>

<h3>Drafts</h3>

<% @drafts.each do |invoice| %>
  <div class="debug-grey">
    <%= link_to "#{invoice.client.designation} - DRAFT", invoice_path(invoice) %>
    <%= link_to "Delete", invoice_path(invoice), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  </div>
<% end %>

<h3>Issued invoices</h3>

<% @issued_invoices.each do |invoice| %>
  <div class="debug-grey">
    <%= link_to "#{invoice.client.designation} - #{invoice.number}", invoice_path(invoice) %>
  </div>
<% end %>
