<div class="page-header">
  <h2>Invoices</h2>
  <%= link_to clients_path do %>
    <span>New invoice</span>
    <%= image_tag "plus.svg" %>
  <% end %>
</div>

<% if @draft_invoices.any? %>
  <h3>Drafts</h3>
  <%= render partial: "invoice", collection: @draft_invoices, as: "invoice" %>
<% end %>

<% if @issued_invoices.any? %>
  <h3>Issued invoices</h3>
  <%= render partial: "invoice", collection: @issued_invoices, as: "invoice" %>
<% end %>
