<h2>Invoices</h2>

<% @invoices.each do |invoice| %>
  <div>
    <%= link_to "#{invoice.client.designation} - #{invoice.number ? invoice.number : 'DRAFT'}", invoice_path(invoice) %>
  </div>
<% end %>


<%= link_to "New invoice", new_invoice_path %>
