<div id="clients-header">
  <h2>Clients</h2>
  <%= link_to new_client_path do %>
    <%= image_tag "plus.svg" %>
    <span>New client</span>
  <% end %>
</div>

<div id="clients-grid">
  <%= render partial: "client", collection: @clients, as: "client" %>
</div>
