#clients-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 30px;
}

.client-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: #7c7c7c33 1px 1px 3px 1px;
}

.client-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--debug);
  padding: 10px 10px;
  border-radius: 5px 5px 0px 0px;
  min-height: 40px;

  & h3 {
    margin: 0;
  }
}

.client-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 10px;
  overflow-wrap: anywhere;
}

.client-actions {
  display: flex;
  align-items: center;
}

.client-actions img {
  height: 22px;
}
