#clients-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.client-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: #7c7c7c33 1px 1px 3px 1px;
}

.client-header {
  display: flex;
  justify-content: space-between;
  background-color: #ffd1f7;
  padding: 10px 10px;
  border-radius: 8px 8px 0px 0px;

  & h3 {
    margin: 0;
  }
}

.client-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 10px 10px;
}

.client-actions {
  display: flex;
  gap: 8px;
}

.client-action {
  display: flex;
  align-items: center;
}

.client-action img {
  height: 22px;
}
