body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: red;
}

.flex {
  display: flex;
}

.align-right {
  text-align: right;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.content-container {
  padding: 20px;
}

h2 {
  margin: 1rem 0 1.5rem 0;
}
