.align-right {
  text-align: right;
}

.debug-grey {
  background-color: lightgrey;
}

.debug-pink {
  background-color: pink;
}

.debug-pink-light {
  background-color: lightpink;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

div {
  margin: 5px 0px;
}
