body {
  margin: 0;
  /* font-size: 16px; */
}

a {
  text-decoration: none;
}

a:hover {
  background-color: red;
}

.flex {
  display: flex;
}

.flex-between-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
/*
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.align-right {
  text-align: right;
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.content-container {
  padding: 50px 200px;
  background-color: #fafafa;
}

h2 {
  margin: 1rem 0 1.5rem 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  & a {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    gap: 10px;
  }

  & img {
    height: 30px;
  }
}

.page-header-actions {
  display: flex;
  gap: 10px;
}

.page-header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.page-header-actions a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60px;
}
