.active-item {
  background-color: bisque;
}

.invoice-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(219, 219, 219);
  padding: 6px 0 6px 0;
}

.invoice-card:last-child {
  border-bottom: 1px solid rgb(219, 219, 219);
}

.invoice-card-info {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 1fr 1fr 1fr;
  align-items: center;
  flex-grow: 1;
}

.pill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.pill-paid {
  color: rgb(1, 77, 1);
  background-color: rgb(168, 206, 168);
}

.pill-due {
  color: rgb(77, 1, 1);
  background-color: rgb(193, 140, 140);
}

.pill-draft {
  color: rgb(61, 61, 61);
  background-color: rgb(205, 205, 205);
}

.invoice-header {
  margin-bottom: 30px;
}

.invoice-card-actions {
  min-width: 100px;
}
