#drafts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}


.invoice-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.invoice-header>*:nth-child(2) {
  text-align: right;
}

.active-item {
  background-color: bisque;
}
