.navbar-container {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: #ffd1f7;
  padding: 20px 200px;
}

.navbar-container * {
  color: black;
}

.navbar-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.navbar-secondary {
  display: flex;
  align-items: center;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
