table {
  border-collapse: collapse;
  width: 100%;
}

table th, table td {
  border: 1px solid black;
  padding: 4px;
  text-align: left;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.table-form td input[type="text"],
.table-form td input[type="date"],
.table-form td input[type="number"]
{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  padding: 5px;
}
